*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}
:root {
  --background-color: #000;
  --letter-color: #FFF;
  --unselected-pink: #DB7093;
  --selected-pink: #FF1493;
  --unselected-blue: #1E90FF;
  --selected-blue: #00BFFF;
  --secondary-color: #151226;
  --contrast-color: #BF307F;
}
#preloaderLogo{
  background: #000 url('bnl_logo_horizontal_white.png') no-repeat center bottom;
  background-size: 20%;
  height: 25vh;
  width: 100%;
  position: fixed;
  z-index: 1000;
}
#preloaderLoading{
  background: #000 url('loading.gif') no-repeat center top;
  background-size: 10%;
  margin-top: 25vh;
  height: 15vh;
  width: 100%;
  position: fixed;
  z-index: 1100;
}
#preloaderInfo{
  background-color: var(--background-color);
  background-size: 10%;
  margin-top: 40vh;
  height: 65vh;
  width: 100%;
  position: fixed;
  z-index: 1200;
}
#preloaderInfo p{
  font-size: 1.4em;
  margin: 10px;
  overflow: hidden;
  text-align: center;
  color: var(--letter-color);
}
#loaderToMainTransitionLayer{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  z-index: -10;
  background-color: var(--contrast-color);
}
.headerBar{
  height: 80px;
  width: 100%;
  border: none;
  vertical-align: middle;
  background-color: var(--background-color);
}

.headerBar a{
  text-decoration: none;
  vertical-align: middle;
  color: var(--letter-color);
}

.headerBar img{
  width: 200px;
  margin: 15px;
  display: inline;
  vertical-align: middle;
}

.headerBar p{
  display: inline-block;
  padding-left: 30px;
  padding-right: 30px;
  vertical-align: middle;
  text-align: center;
  font-size: 20px;
  color: var(--letter-color);
}

.mainPage{
  display: flex;
  height: 100vh;
  position: relative;
  align-items: center;
  text-align: center;
  background-color: var(--background-color);
  animation: expand .8s ease forwards;
}

.mainPage h1{
  text-align: center;
  padding: 30px;
  font-size: 35px;
  overflow: hidden;
  color: var(--letter-color);
}

.mainPage a{
  text-decoration: none;
  color: var(--unselected-blue);
}

.centralLogo{
  width: 55%;
  background-color: var(--background-color);
}

.centralLogo img{
  margin: 5%;
  width: 90%;
  text-align: center;
  overflow: hidden;
}

.centralLogo p{
  font-size: 1.4em;
  margin: 10px;
  overflow: hidden;
  color: var(--letter-color);
}

.login{
  width: 45%;
  background-color: var(--background-color);
}

.login h1{
  margin: 30px;
  font-size: 35px;
  overflow: hidden;
  color: var(--letter-color);
}

.login p{
  font-size: 1.4em;
  margin: 10px;
  overflow: hidden;
  color: var(--letter-color);
}

.radioButtons{
  display: grid;
  align-items: left; 
  grid-template-columns: 1fr 1fr;
  margin: 5px auto;
  width: 400px;
  color: var(--letter-color);
}

.radioButtons input[type=radio]{
  vertical-align: middle;
  display: inline;
  border: 0px;
  width: 20%;
  height: 1.4em;
}

.radioButtons label{
  display: inline;
  vertical-align: middle;
  width: 80%;
  font-size: 1.2em;
}


.button input{
  width: 200px;
  height: 50px;
  margin: 15px auto;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  border: solid 2px var(--unselected-blue);
  background-color: var(--unselected-blue);
  color: var(--letter-color);
  font-size: 1em;
}

.button input:hover{
  background-color: var(--selected-blue);
  cursor: pointer; 
}

.button input:focus{
  border: solid 5px var(--selected-blue);
}

.button2 input{
  width: 200px;
  height: 50px;
  margin: 15px auto;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  border: solid 2px var(--unselected-pink);
  background-color: var(--unselected-pink);
  color: var(--letter-color);
  font-size: 1em;
}

.button2 input:hover{
  background-color: var(--selected-pink);
  cursor: pointer; 
}

.button2 input:focus{
  border: solid 5px var(--selected-pink);
}

.testPage{
  height: 400vh;
  width: 100%;
  align-items: center;
  text-align: center;
  background-color: var(--background-color);
  animation: expand .8s ease forwards;
}

.testPage h1{
  text-align: center;
  padding: 30px;
  font-size: 35px;
  overflow: hidden;
  color: var(--letter-color);
}

.tests{
  width: 100%;
  background-color: var(--background-color);
}

.tests h1{
  text-align: center;
  padding: 30px;
  font-size: 35px;
  overflow: hidden;
  color: var(--letter-color);
}

.tests p{
  font-size: 1.4em;
  margin: 10px;
  overflow: hidden;
  color: var(--letter-color);
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin: 10px auto;
  width: 500px;
}

.infoSide{
  background-color: var(--background-color);
}

.infoSide h1{
  text-align: center;
  padding: 30px;
  font-size: 35px;
  overflow: hidden;
  color: var(--letter-color);
}

.infoSide p{
  text-align: center;
  font-size: 1.4em;
  margin: 10px;
  overflow: hidden;
  color: var(--letter-color);
}

input{
  width: 300px;
  height: 50px;
  margin: 15px auto;
  border-radius: 10px;
  text-align: center;
  font-size: 1em;
}

input:focus{
  outline: none;
}

.information{
  display: grid;
  grid-template-columns: 1fr;
  width: 800px;
  background-color: var(--background-color);
}

.information p{
  text-align: left;
  font-size: 1.4em;
  margin: 10px;
  overflow: hidden;
  color: var(--letter-color);
}

.informationLong{
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  background-color: var(--background-color);
}

.informationLong p{
  text-align: left;
  font-size: 1.4em;
  margin: 10px;
  overflow: hidden;
  color: var(--letter-color);
}

.download-link {
  color: white;
}

@keyframes slideIn {
  0% {
    transform: translateX(500px) scale(.2);
  }
  100% {
    transform: translateX(0px) scale(1);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(300px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes expand {
  0% {
    transform: translateX(1400px);
  }
  100% {
    transform: translateX(0px);
  }
}

