{% extends "base.html" %}mparsion


{% block headerBarContent %}
  <p><a href="{{ url_for('Results') }}">Comparison Plots</a></p>
  <p><a href="{{ url_for('IVCurves') }}">IV Curves</a></p>
  <p><a href="{{ url_for('amacIV') }}">AMAC IV</a></p>
{% endblock %}


{% block content %}
<style>
   .figure-container {
       background-color: white;
   }
</style>
    <div class='testPage'>
        <div class='tests'>
            <h1>AMAC IV Scans</h1>
            <div class="figure-container">
               {{ html_str | safe }}
           </div>
        </div>
    </div>
{% endblock %}
