{% extends "base.html" %}

{% block headerBarContent %}
  <p><a href="{{ url_for('testComponent') }}">Component Tests</a></p>
{% endblock %}

{% block content %}
  <div class='testPage'>
    <div class='tests'>
      <h1> ASICs Tests </h1>
      <div class='list'>
        <div class='button'>
          <form action="" method="post" novalidate>
          {{ asicsPullTestButton.hidden_tag() }}
          <p>{{ asicsPullTestButton.submitASICsPullTestButton() }}</p>
          </form>
        </div>
        <div class='button'>
          <form action="" method="post" novalidate>
          {{ asicsDropboxButton.hidden_tag() }}
          <p>{{ asicsDropboxButton.submitASICsDropboxButton() }}</p>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
