{% extends "base.html" %}

{% block content %}
  <div class='testPage'>
    <div class='tests'>
      <h1> Component Assemble </h1>
      <div class='list'>
        <div class='button'>
          <form action="" method="post" novalidate>
            {{ hybridTestPanelAssembleButton.hidden_tag() }}
            <p>{{ hybridTestPanelAssembleButton.submitHybridTestPanelAssembleButton() }}</p>
          </form>
        </div>
        <div class='button'>
          <form action="" method="post" novalidate>
          {{ hybridAssembleButton.hidden_tag() }}
          <p>{{ hybridAssembleButton.submitHybridAssembleButton() }}</p>
          </form>
        </div>
        <div class='button'>
          <form action="" method="post" novalidate>
          {{ moduleAssembleButton.hidden_tag() }}
          <p>{{ moduleAssembleButton.submitModuleAssembleButton() }}</p>
        </form>
      </div>
      <div class='button'>
        <form action="" method="post" novalidate>
        {{ staveAssembleButton.hidden_tag() }}
        <p>{{ staveAssembleButton.submitStaveAssembleButton() }}</p>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
