<!doctype html>
<html>
  <head>
    {% if title %}
    <title>{{ title }} - BNL uploader</title>
    {% else %}
    <title>Welcome to the BNL uploader</title>
    {% endif %}
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <link rel="stylesheet" href="{{url_for('static', filename='base.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">
    {% block title %}{% endblock %}
  </head>
  <body>
    <div id="loaderToMainTransitionLayer"></div>
    {% if not current_user.is_anonymous %}
    <div id="headerBar" class="headerBar">
      <a href="{{url_for('index')}}"><img src="{{url_for('static', filename='bnl_logo_horizontal_white.png')}}"></a>
      <p><a href="{{ url_for('index') }}">Home</a></p>
      {% block headerBarContent %}{% endblock %}
      <p><a href="{{ url_for('logout') }}">Logout</a></p>
    </div>
    {% endif %}
    {% block content %}{% endblock %}
  </body>
</html>
