{% extends "base.html" %}

{% block headerBarContent %}
  <p><a href="{{ url_for('cicorelTests') }}">Cicorel tests</a></p>
{% endblock %}

{% block content %}
  <div class='testPage'>
    <div class='tests'>
      <h1> Cicorel Dropbox </h1>
      <div>
        <p> Files: </p>
        {{dropzone.load_css()}}
        {{dropzone.style('width: 480px; height: 200px; margin: 15px auto; border: dashed 3px deepskyblue; border-radius: 10px; font-family: Arial; text-align: center; font    -size: 1.1em;color: #fff;background-color: #000;')}}
        {{dropzone.create(action=url_for('cicorelDropbox'))}}
        {{dropzone.load_js()}}
        {{dropzone.config()}}
      </div>
      <div class='button'>
        <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>{{ form.upload() }}</p>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
