{% extends "base.html" %}

{% block content %}
  <div class='testPage'>
    <div class='tests'>
      <h1> Component Disassemble </h1>
      <div class='button'>
        <form action="" method="post" novalidate>
          {{ asicsGelpackDisassembleButton.hidden_tag() }}
          <p>{{ asicsGelpackDisassembleButton.submitASICsGelpackDisassembleButton() }}</p>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
