{% extends "base.html" %}


{% block headerBarContent %}
  <p><a href="{{ url_for('Results') }}">Comparison Plots</a></p>
  <p><a href="{{ url_for('IVCurves') }}">IV Curves</a></p>
  <p><a href="{{ url_for('electricalTests') }}">Electrical Tests</a></p>
{% endblock %}


{% block content %}
<style>
   .figure-container {
       background-color: white;
   }
</style>
    <div class='testPage'>
        <div class='tests'>
            <h1>Electrical Tests</h1>
            <div class="figure-container">
               {{ html_str | safe }}
            </div>
        </div>
    </div>
    
{% endblock %}
