{% extends "base.html" %}

{% block headerBarContent %}
  <p><a href="javascript:history.back()">Go Back</a></p>
{% endblock %}

{% block content %}
  <div class='testPage'>
    <div class='tests'>
      <h1>Error</h1>
      {% if hasException %}
        <p>An unknown error occurred. Contact maintainer of uploader: https://gitlab.cern.ch/lgutierr/bnl-uploader:</p>
      {% else %}
        <b><p>The following error(s) occurred:</p></b>
        {% for error in outputErrors %}
          <p>{{ loop.index }}. {{ error }}</p>
        {% endfor %}
        {% if dBerrorFlag %}
          <b><p>Here is the error shown from the ITk database: </p></b>
          {% for dbError in output_dBErrors %}
          <p>{{ dbError }}</p>
          {% endfor %}
        {% endif %}
      {% endif %}
    </div>
  </div>
{% endblock %}