{% extends "base.html" %}

{% block headerBarContent %}
  <p><a href="{{ url_for('testComponent') }}">Component tests</a></p>
{% endblock %}

{% block content %}
  <div class='testPage'>
    <div class='tests'>
      <h1> Half-moon Tests </h1>
      <div class='list'>
        <div class='button'>
          <form action="" method="post" novalidate>
            {{ halfmoonPullTestButton.hidden_tag() }}
            <p>{{ halfmoonPullTestButton.submitHalfmoonPullTestButton() }}</p>
          </form>
        </div>
        <div class='button'>
          <form action="" method="post" novalidate>
            {{ halfmoonDropboxButton.hidden_tag() }}
            <p>{{ halfmoonDropboxButton.submitHalfmoonDropboxButton() }}</p>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
