{% extends "base.html" %}

{% block headerBarContent %}
  <p><a href="{{ url_for('testComponent') }}">Component tests</a></p>
{% endblock %}

{% block content %}
  <div class='testPage'>
    <div class='tests'>
      <h1> HV-tab Tests </h1>
      <div class='list'>
        <div class='button'>
          <form action="" method="post" novalidate>
            {{ hvtabShearTestButton.hidden_tag() }}
            <p>{{ hvtabShearTestButton.submitHVtabShearTestButton() }}</p>
          </form>
        </div>
        <div class='button'>
          <form action="" method="post" novalidate>
            {{ hvtabVisualInspectionButton.hidden_tag() }}
            <p>{{ hvtabVisualInspectionButton.submitHVtabVisualInspectionButton() }}</p>
          </form>
        </div>
        <div class='button'>
          <form action="" method="post" novalidate>
            {{ hvtabDropboxButton.hidden_tag() }}
            <p>{{ hvtabDropboxButton.submitHVtabDropboxButton() }}</p>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
