{% extends "base.html" %}

{% block headerBarContent %}
  <p><a href="{{ url_for('registration') }}">Registration</a></p>
{% endblock %}

{% block content %}
  <div class='testPage'>
    <div class='tests'>
      <h1> HV-tab Registration </h1>
      <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
          {{ form.sheetLabel.label }}<br>
          {{ form.sheetLabel(size=32) }}<br>
          {% for error in form.sheetLabel.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.unusableTabs.label }}<br>
          {{ form.unusableTabs(size=32) }}<br>
          {% for error in form.unusableTabs.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <div class='button'>
          <p>{{ form.register() }}</p>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
