{% extends "base.html" %}

{% block headerBarContent %}
  <p><a href="{{ url_for('hvtabTests') }}">HV-tab tests</a></p>
{% endblock %}

{% block content %}
  <div class='testPage'>
    <div class='tests'>
      <h1> HV-tab Shear Test </h1>
      <form id='info-form' action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
          {{ form.identifier.label }}<br>
          {{ form.identifier(size=32) }}<br>
          {% for error in form.identifier.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.strengths.label }}<br>
          {{ form.strengths(size=32) }}<br>
          {% for error in form.strengths.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.operator.label }}<br>
          {{ form.operator(size=32, value=form.operator.default) }}<br>
          {% for error in form.operator.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.reason.label }}<br>
          {{ form.reason(size=32, value=form.reason.default) }}<br>
          {% for error in form.reason.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.substrate.label }}<br>
          {{ form.substrate(size=32, value=form.substrate.default) }}<br>
          {% for error in form.substrate.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <div class='button'>
          <p>{{ form.upload() }}</p>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
