{% extends "base.html" %}

{% block headerBarContent %}
  <p><a href="{{ url_for('hybridTests') }}">Hybrid tests</a></p>
{% endblock %}

{% block content %}
  <div class='testPage'>
    <div class='tests'>
      <h1> Hybrid glue weight </h1>
      <form id='info-form' action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
          {{ form.identifier.label }}<br>
          {{ form.identifier(size=32) }}<br>
          {% for error in form.identifier.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.hybridWeight.label }}<br>
          {{ form.hybridWeight(size=32) }}<br>
          {% for error in form.hybridWeight.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.hybridAndGlueWeight.label }}<br>
          {{ form.hybridAndGlueWeight(size=32) }}<br>
          {% for error in form.hybridAndGlueWeight.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.totalWeight.label }}<br>
          {{ form.totalWeight(size=32) }}<br>
          {% for error in form.totalWeight.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <div class='button'>
          <p>{{ form.upload() }}</p>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
