{% extends "base.html" %}

{% block headerBarContent %}
  <p><a href="{{ url_for('hybridTests') }}">Hybrid tests</a></p>
  <p><a href="{{ url_for('hybridMetrology') }}">Hybrid metrology</a></p>
{% endblock %}

{% block content %}
  <div class='testPage'>
    <div class='tests'>
      <h1> SUCCESSFUL EXECUTION </h1>
      <p> General information </p>
      <div class='informationLong'>
        <p> <b><u>Identifier:</u></b> {{result['identifier']}} </p>
        <p> <b><u>Serial Number:</u></b> {{result['serialNumber']}} </p>
        <p> <b><u>Component Code:</u></b> {{result['compCode']}} </p>
        <p> <b><u>Input files:</u></b> {{result['inputFiles']}} </p>
      </div>
    </div>
  </div>
  <script>
    window.location.replace("{{url_for('hybridMetrologyCheck', tarFile=userTarFile)}}");
  </script>
{% endblock %}