{% extends "base.html" %}

{% block headerBarContent %}
  <p><a href="{{ url_for('assemble') }}">Assemble</a></p>
{% endblock %}

{% block content %}
  <div class='testPage'>
    <div class='tests'>
      <h1> Hybrid Test Panel Assemble </h1>
      <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
          {{ form.identifier.label }}<br>
          {{ form.identifier(size=32) }}<br>
          {% for error in form.identifier.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.placementJig.label }}<br>
          {{ form.placementJig(size=32) }}<br>
          {% for error in form.placementJig.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.location0SN.label }}<br>
          {{ form.location0SN(size=32) }}<br>
          {% for error in form.location0SN.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.location0PickupTool.label }}<br>
          {{ form.location0PickupTool(size=32) }}<br>
          {% for error in form.location0PickupTool.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.location1SN.label }}<br>
          {{ form.location1SN(size=32) }}<br>
          {% for error in form.location1SN.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.location1PickupTool.label }}<br>
          {{ form.location1PickupTool(size=32) }}<br>
          {% for error in form.location1PickupTool.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.location2SN.label }}<br>
          {{ form.location2SN(size=32) }}<br>
          {% for error in form.location2SN.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.location2PickupTool.label }}<br>
          {{ form.location2PickupTool(size=32) }}<br>
          {% for error in form.location2PickupTool.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.location3SN.label }}<br>
          {{ form.location3SN(size=32) }}<br>
          {% for error in form.location3SN.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.location3PickupTool.label }}<br>
          {{ form.location3PickupTool(size=32) }}<br>
          {% for error in form.location3PickupTool.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.location4SN.label }}<br>
          {{ form.location4SN(size=32) }}<br>
          {% for error in form.location4SN.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.location4PickupTool.label }}<br>
          {{ form.location4PickupTool(size=32) }}<br>
          {% for error in form.location4PickupTool.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.location5SN.label }}<br>
          {{ form.location5SN(size=32) }}<br>
          {% for error in form.location5SN.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.location5PickupTool.label }}<br>
          {{ form.location5PickupTool(size=32) }}<br>
          {% for error in form.location5PickupTool.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <div class='button'>
          <p>{{ form.assemble() }}</p>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
