{% extends "base.html" %}

{% block headerBarContent %}
  <p><a href="{{ url_for('testComponent') }}">Component tests</a></p>
{% endblock %}

{% block content %}
  <div class='testPage'>
    <div class='tests'>
      <h1> Hybrid Flex Array Tests </h1>
      <div class='list'>
        <div class='button'>
          <form action="" method="post" novalidate>
            {{ hybridFlexArrayPullTestButton.hidden_tag() }}
            <p>{{ hybridFlexArrayPullTestButton.submitHybridFlexArrayPullTestButton() }}</p>
          </form>
        </div>
        <div class='button'>
          <form action="" method="post" novalidate>
            {{ hybridFlexArrayDropboxButton.hidden_tag() }}
            <p>{{ hybridFlexArrayDropboxButton.submitHybridFlexArrayDropboxButton() }}</p>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
