{% extends "base.html" %}

{% block headerBarContent %}
  <p><a href="{{ url_for('testComponent') }}">Component tests</a></p>
{% endblock %}

{% block content %}
  <div class='testPage'>
    <div class='tests'>
      <h1> Hybrid Tests </h1>
      <div class='list'>
        <div class='button'>
          <form action="" method="post" novalidate>
            {{ hybridVisualInspectionButton.hidden_tag() }}
            <p>{{ hybridVisualInspectionButton.submitHybridVisualInspectionButton() }}</p>
          </form>
        </div>
        <div class='button'>
          <form action="" method="post" novalidate>
            {{ hybridGlueWeightButton.hidden_tag() }}
            <p>{{ hybridGlueWeightButton.submitHybridGlueWeightButton() }}</p>
          </form>
        </div>
        <div class='button'>
          <form action="" method="post" novalidate>
            {{ hybridMetrologyButton.hidden_tag() }}
            <p>{{ hybridMetrologyButton.submitHybridMetrologyButton() }}</p>
          </form>
        </div>
        <div class='button'>
          <form action="" method="post" novalidate>
            {{ hybridWireBondingButton.hidden_tag() }}
            <p>{{ hybridWireBondingButton.submitHybridWireBondingButton() }}</p>
          </form>
        </div>
        <div class='button'>
          <form action="" method="post" novalidate>
            {{ hybridElectricalTestsButton.hidden_tag() }}
            <p>{{ hybridElectricalTestsButton.submitHybridElectricalTestsButton() }}</p>
          </form>
        </div>
        <div class='button'>
          <form action="" method="post" novalidate>
            {{ hybridDropboxButton.hidden_tag() }}
            <p>{{ hybridDropboxButton.submitHybridDropboxButton() }}</p>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
