{% extends "base.html" %}

{% block headerBarContent %}
  <p><a href="{{ url_for('registration') }}">Registration</a></p>
{% endblock %}

{% block content %}
  <div class='testPage'>
    <div class='tests'>
      <h1> Hybrid Registration </h1>
      <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
          {{ form.localName.label }}<br>
          {{ form.localName(size=32) }}<br>
          {% for error in form.localName.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.asicAssemblyJig.label }}<br>
          {{ form.asicAssemblyJig(size=32) }}<br>
          {% for error in form.asicAssemblyJig.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.asicAssemblyChipTray.label }}<br>
          {{ form.asicAssemblyChipTray(size=32) }}<br>
          {% for error in form.asicAssemblyChipTray.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.asicAssemblyPickupTool.label }}<br>
          {{ form.asicAssemblyPickupTool(size=32) }}<br>
          {% for error in form.asicAssemblyPickupTool.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.glueSyringe.label }}<br>
          {{ form.glueSyringe(size=32) }}<br>
          {% for error in form.glueSyringe.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p> {{ form.hccBondsCrossed.label }} </p>
        <div class=radioButtons>
          {% for subfield in form.hccBondsCrossed %}
            <div>
              {{subfield}} {{subfield.label}}
            </div>
          {% endfor %}
        </div>
        <div class='button'>
          <p>{{ form.register() }}</p>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
