{% extends "base.html" %}

{% block headerBarContent %}
  <p><a href="{{ url_for('hybridTests') }}">Hybrid tests</a></p>
{% endblock %}

{% block content %}
  <div class='testPage'>
    <div class='tests'>
      <h1> Hybrid Metrology </h1>
      <form id='info-form' action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
          {{ form.identifier.label }}<br>
          {{ form.identifier(size=32) }}<br>
          {% for error in form.identifier.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.hybridThickness.label }}<br>
          {{ form.hybridThickness(size=32,value=form.hybridThickness.default) }}<br>
          {% for error in form.hybridThickness.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
      </form>
      <div>
        <p> Results: </p>
        {{dropzone.load_css()}}
        {{dropzone.style('width: 480px; height: 200px; margin: 15px auto; border: dashed 3px deepskyblue; border-radius: 10px; font-family: Arial; text-align: center; font-size: 1.1em;color: #fff;background-color: #000;')}}
        {{dropzone.create(action=url_for('hybridMetrology'))}}
        {{dropzone.load_js()}}
        {{dropzone.config()}}
      </div>
      <div class='list'>
        <div class='button'>
          <p>{{ form.upload(form='info-form') }}</p>
        </div>
        <div class='button2'>
          <p>{{ form.check(form='info-form') }}</p>
        </div>
      </div>
{% endblock %}
