{% extends "base.html" %}

{% block headerBarContent %}
  <p><a href="{{ url_for('hybridTests') }}">Hybrid tests</a></p>
{% endblock %}

{% block content %}
  <div class='testPage'>
    <div class='tests'>
      <h1> Hybrid Wire Bonding </h1>
      <form id='info-form' action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
          {{ form.identifier.label }}<br>
          {{ form.identifier(size=32) }}<br>
          {% for error in form.identifier.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.operator.label }}<br>
          {{ form.operator(size=32,value=form.operator.default) }}<br>
          {% for error in form.operator.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.bonder.label }}<br>
          {{ form.bonder(size=32,value=form.bonder.default) }}<br>
          {% for error in form.bonder.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.failedAsicBond.label }}<br>
          {{ form.failedAsicBond(size=32) }}<br>
          {% for error in form.failedAsicBond.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.failedPanelBond.label }}<br>
          {{ form.failedPanelBond(size=32) }}<br>
          {% for error in form.failedPanelBond.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p> {{ form.result.label }} </p>
        <div class=radioButtons>
          {% for subfield in form.result %}
            <div>
              {{subfield}} {{subfield.label}}
            </div>
          {% endfor %}
        </div>
        <div class='button'>
          <p>{{ form.upload() }}</p>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
