{% extends "base.html" %}

{% block content %}
  <div class='testPage'>
    <div class='tests'>
      <h1>Hello, {{ current_user.get_name() }}!</h1>
      <div class='list'>
        <div class='button'>
          <form action="" method="post" novalidate>
            {{ statusButton.hidden_tag() }}
            <p>{{ statusButton.submitStatusButton() }}</p>
          </form>
        </div>
        <div class='button'>
          <form action="" method="post" novalidate>
            {{ testButton.hidden_tag() }}
            <p>{{ testButton.submitTestButton() }} </p>
          </form>
        </div>
        <div class='button'>
          <form action="" method="post" novalidate>
            {{ registrationButton.hidden_tag() }}
            <p>{{ registrationButton.submitRegistrationButton() }} </p>
          </form>
        </div>
        <div class='button'>
          <form action="" method="post" novalidate>
            {{ disassembleButton.hidden_tag() }}
            <p>{{ disassembleButton.submitDisassembleButton() }} </p>
          </form>
        </div>
        <div class='button'>
          <form action="" method="post" novalidate>
            {{ assembleButton.hidden_tag() }}
            <p>{{ assembleButton.submitAssembleButton() }} </p>
          </form>
        </div>
        <div class='button'>
          <form action="" method="post" novalidate>
            {{ resultsButton.hidden_tag() }}
            <p>{{ resultsButton.submitResultsButton() }} </p>
          </form>
        </div>
        <!-- <div class='button'>
          <form action="" method="post" novalidate>
            {{ testUploaderButton.hidden_tag() }}
            <p>{{ testUploaderButton.submitTestUploaderButton() }} </p>
          </form>
        </div> -->
      </div>
    </div>
  </div>
{% endblock %}
