{% extends "base.html" %}

{% block headerBarContent %}
  <p><a href="{{ url_for('Results') }}">Comparison Plots</a></p>
{% endblock %}

{% block content %}
  <div class='testPage'>
    <div class='tests'>
      <h1> IV Curves </h1>
      <div class='list'>
        <div class='button'>
          <form action="" method="post" novalidate>
            {{ amacIVButton.hidden_tag() }}
            <p>{{ amacIVButton.submitAMACIVButton() }}</p>
          </form>
        </div>
        <div class='button'>
          <form action="" method="post" novalidate>
            {{ menyModIVButton.hidden_tag() }}
            <p>{{ menyModIVButton.submitMenyModIVButton() }}</p>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}