{% extends "base.html" %}

{% block title %}
  <meta http-equiv="refresh" content="5">
{% endblock %}

{% block content %}
<div id="preloaderLoading"></div>
<div id="preloaderLogo"></div>
<div id="preloaderInfo">
  <p> DO NOT REFRESH! </p> 
  <p> This might take several minutes...</p>
</div>
<script>
  const resultString = new String("{{current_user.check_task(userTask)}}");
  if (resultString=="True"){
    window.location.replace("{{url_for(endpoint, task=userTask)}}");
  } else{
  }
  const date = new Date();
</script>
{% endblock %}
