{% extends "base.html" %}

{% block headerBarContent %}
  <p><a href="{{ url_for('loadComponent') }}">Component status</a></p>
{% endblock %}

{% block content %}
  <div class='testPage'>
    <div class='tests'>
      <h1>General information</h1>
      <div class='information'>
        <p> Type: {{component['dbType']}} </p>
        <p> Serial number: {{component['serialNumber']}} </p>
        <p> Alternative ID: {{component['alternativeID']}} </p>
        <p> Local name: {{component['localName']}} </p>
        <p> Location: {{component['location']}} </p>
        <p> Stage: {{component['stage']}} </p>
      </div>
      {% if component['complete'] %}
        <h1> Tests status [Complete] </h1>
      {% else %}
        <h1> Tests status [Incomplete] </h1>
      {% endif %}
      <div class='information'>
        {% for stage in component['tests'] %}
          <p> Stage:  {{stage}}</p>
          {% for test in component['tests'][stage] %}
            {% if test != 'skip' %}
              <p> &emsp; &emsp; Test: {{test}}, Done: {{component['tests'][stage][test]['done']}}, Passed: {{component['tests'][stage][test]['passed']}} </p>
            {% endif %}
          {% endfor %}
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
