{% extends "base.html" %}

{% block content %}
  <div class='mainPage'>
    <div class='centralLogo'>
      <img src="{{url_for('static', filename='bnl_logo_horizontal_white.png')}}">
      <p>Source code: <a href="https://gitlab.cern.ch/lgutierr/bnl-uploader" target="_blank">https://gitlab.cern.ch/lgutierr/bnl-uploader</a></p>
      <p>Host services: <a href="https://paas.cern.ch/topology/ns/bnl-uploader" target="_blank">https://paas.cern.ch/topology/ns/bnl-uploader</a></p>
      <p>Email the boss: <a href="mailto:stucci@bnl.gov">stucci@bnl.gov</a></p>
    </div>
    <div class='login'>
      <h1> BNL Database Uploader </h1>
      <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
          {{ form.accessCode1.label }}<br>
          {{ form.accessCode1(size=32) }}<br>
          {% for error in form.accessCode1.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.accessCode2.label }}<br>
          {{ form.accessCode2(size=32) }}<br>
          {% for error in form.accessCode2.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <div class='button'>
          <p>{{ form.submit() }}</p>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
