{% extends "base.html" %}

{% block headerBarContent %}
  <p><a href="{{ url_for('moduleTests') }}">Module tests</a></p>
{% endblock %}

{% block content %}
  <div class='testPage'>
    <div class='tests'>
      <h1> Module IV </h1>
      <form id='info-form' action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p> {{ form.testType.label }} </p>
        <div class=radioButtons>
          {% for subfield in form.testType %}
            <div>
              {{subfield}} {{subfield.label}}
            </div>
          {% endfor %}
        </div>
        <p> {{ form.stage.label }} </p>
        <div class=radioButtons>
          {% for subfield in form.stage %}
            <div>
              {{subfield}} {{subfield.label}}
            </div>
          {% endfor %}
        </div>
      </form>
      <div>
        <p> Results: </p>
        {{dropzone.load_css()}}
        {{dropzone.style('width: 480px; height: 200px; margin: 15px auto; border: dashed 3px deepskyblue; border-radius: 10px; font-family: Arial; text-align: center; font    -size: 1.1em;color: #fff;background-color: #000;')}}
        {{dropzone.create(action=url_for('moduleIV'))}}
        {{dropzone.load_js()}}
        {{dropzone.config()}}
      </div>
      <div class='button'>
        <p>{{ form.upload(form='info-form') }}</p>
      </div>
    </div>
  </div>
{% endblock %}
