{% extends "base.html" %}

{% block headerBarContent %}
  <p><a href="{{ url_for('moduleTests') }}">Module tests</a></p>
  <p><a href="{{ url_for('moduleVisualInspection') }}">Module visual inspection</a></p>
{% endblock %}

{% block content %}
  <div class='testPage'>
    <div class='tests'>
      <h1> Module Visual Inspection </h1>
      <p> General information </p>
      <div class='information'>
        <p> Module identifier: {{result['identifier']}} </p>
      </div>
      {% if result['errors'] == [] %}
        <p> SUCCESSFUL EXECUTION </p>
      {% else %}
        <p> ERROR! See logs below... </p>
        <div class='information'>
          {% for error in result['errors'] %}
            <p> {{error}} </p>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>  
{% endblock %}
