{% extends "base.html" %}

{% block headerBarContent %}
  <p><a href="{{ url_for('testComponent') }}">Component tests</a></p>
{% endblock %}

{% block content %}
  <div class='testPage'>
    <div class='tests'>
      <h1> Module Tests </h1>
      <div class='list'>
        <div class='button'>
          <form action="" method="post" novalidate>
            {{ moduleVisualInspectionButton.hidden_tag() }}
            <p>{{ moduleVisualInspectionButton.submitModuleVisualInspectionButton() }}</p>
          </form>
        </div>
        <div class='button'>
          <form action="" method="post" novalidate>
            {{ moduleIVButton.hidden_tag() }}
            <p>{{ moduleIVButton.submitModuleIVButton() }}</p>
          </form>
        </div>
        <div class='button'>
          <form action="" method="post" novalidate>
            {{ moduleGlueWeightButton.hidden_tag() }}
            <p>{{ moduleGlueWeightButton.submitModuleGlueWeightButton() }}</p>
          </form>
        </div>
        <div class='button'>
          <form action="" method="post" novalidate>
            {{ moduleMetrologyButton.hidden_tag() }}
            <p>{{ moduleMetrologyButton.submitModuleMetrologyButton() }}</p>
          </form>
        </div>
        <div class='button'>
          <form action="" method="post" novalidate>
            {{ moduleWireBondingButton.hidden_tag() }}
            <p>{{ moduleWireBondingButton.submitModuleWireBondingButton() }}</p>
          </form>
        </div>
        <div class='button'>
          <form action="" method="post" novalidate>
            {{ moduleElectricalTestsButton.hidden_tag() }}
            <p>{{ moduleElectricalTestsButton.submitModuleElectricalTestsButton() }}</p>
          </form>
        </div>
        <div class='button'>
          <form action="" method="post" novalidate>
            {{ moduleDropboxButton.hidden_tag() }}
            <p>{{ moduleDropboxButton.submitModuleDropboxButton() }}</p>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
