{% extends "base.html" %}

{% block headerBarContent %}
  <p><a href="{{ url_for('moduleTests') }}">Module tests</a></p>
{% endblock %}

{% block content %}
  <div class='testPage'>
    <div class='tests'>
      <h1> Module Wire Bonding </h1>
      <form id='info-form' action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
          {{ form.identifier.label }}<br>
          {{ form.identifier(size=32) }}<br>
          {% for error in form.identifier.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.operator.label }}<br>
          {{ form.operator(size=32,value=form.operator.default) }}<br>
          {% for error in form.operator.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.bonder.label }}<br>
          {{ form.bonder(size=32,value=form.bonder.default) }}<br>
          {% for error in form.bonder.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.maxUnconChans.label }}<br>
          {{ form.maxUnconChans(size=32) }}<br>
          {% for error in form.maxUnconChans.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.maxConUnconChansRow1.label }}<br>
          {{ form.maxConUnconChansRow1(size=32) }}<br>
          {% for error in form.maxConUnconChansRow1.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.FailedRow1.label }}<br>
          {{ form.FailedRow1(size=32) }}<br>
          {% for error in form.FailedRow1.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.RepairedRow1.label }}<br>
          {{ form.RepairedRow1(size=32) }}<br>
          {% for error in form.FailedRow1.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.maxConUnconChansRow2.label }}<br>
          {{ form.maxConUnconChansRow2(size=32) }}<br>
          {% for error in form.maxConUnconChansRow2.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.FailedRow2.label }}<br>
          {{ form.FailedRow2(size=32) }}<br>
          {% for error in form.FailedRow2.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.RepairedRow2.label }}<br>
          {{ form.RepairedRow2(size=32) }}<br>
          {% for error in form.FailedRow2.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.maxConUnconChansRow3.label }}<br>
          {{ form.maxConUnconChansRow3(size=32) }}<br>
          {% for error in form.maxConUnconChansRow3.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.FailedRow3.label }}<br>
          {{ form.FailedRow3(size=32) }}<br>
          {% for error in form.FailedRow3.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.RepairedRow3.label }}<br>
          {{ form.RepairedRow3(size=32) }}<br>
          {% for error in form.FailedRow3.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.maxConUnconChansRow4.label }}<br>
          {{ form.maxConUnconChansRow4(size=32) }}<br>
          {% for error in form.maxConUnconChansRow4.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.FailedRow4.label }}<br>
          {{ form.FailedRow4(size=32) }}<br>
          {% for error in form.FailedRow4.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.RepairedRow4.label }}<br>
          {{ form.RepairedRow4(size=32) }}<br>
          {% for error in form.FailedRow4.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.NumUnconChans.label }}<br>
          {{ form.NumUnconChans(size=32) }}<br>
          {% for error in form.NumUnconChans.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p> {{ form.result.label }} </p>
        <div class=radioButtons>
          {% for subfield in form.result %}
            <div>
              {{subfield}} {{subfield.label}}
            </div>
          {% endfor %}
        </div>
        <div class='button'>
          <p>{{ form.upload() }}</p>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
