{% extends "base.html" %}

{% block headerBarContent %}
  <p><a href="{{ url_for('moduleTests') }}">Module tests</a></p>
{% endblock %}

{% block content %}
  <div class='testPage'>
    <div class='tests'>
      <h1> Module Glue Weight </h1>
      <form id='info-form' action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
          {{ form.identifier.label }}<br>
          {{ form.identifier(size=32) }}<br>
          {% for error in form.identifier.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p> {{ form.gluetype.label }} </p>
        <div class=radioButtons>
          {% for subfield in form.gluetype %}
            <div>
              {{subfield}} {{subfield.label}}
            </div>
          {% endfor %}
        </div>
        <p>
          {{ form.hybridxWeight.label }}<br>
          {{ form.hybridxWeight(size=32) }}<br>
          {% for error in form.hybridxWeight.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.hybridyWeight.label }}<br>
          {{ form.hybridyWeight(size=32) }}<br>
          {% for error in form.hybridyWeight.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.hybridxTabsWeight.label }}<br>
          {{ form.hybridxTabsWeight(size=32) }}<br>
          {% for error in form.hybridxTabsWeight.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.hybridyTabsWeight.label }}<br>
          {{ form.hybridyTabsWeight(size=32) }}<br>
          {% for error in form.hybridyTabsWeight.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.powerboardWeight.label }}<br>
          {{ form.powerboardWeight(size=32) }}<br>
          {% for error in form.powerboardWeight.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.sensorWeight.label }}<br>
          {{ form.sensorWeight(size=32) }}<br>
          {% for error in form.sensorWeight.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.sensorAndHybridWeight.label }}<br>
          {{ form.sensorAndHybridWeight(size=32) }}<br>
          {% for error in form.sensorAndHybridWeight.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.totalWeight.label }}<br>
          {{ form.totalWeight(size=32) }}<br>
          {% for error in form.totalWeight.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <div class='button'>
          <p>{{ form.upload() }}</p>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
