{% extends "base.html" %}

{% block headerBarContent %}
  <p><a href="{{ url_for('assemble') }}">Assemble</a></p>
{% endblock %}

{% block content %}
  <div class='testPage'>
    <div class='tests'>
      <h1> Module Assemble </h1>
      <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
          {{ form.identifier.label }}<br>
          {{ form.identifier(size=32) }}<br>
          {% for error in form.identifier.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.assemblyJig.label }}<br>
          {{ form.assemblyJig(size=32) }}<br>
          {% for error in form.assemblyJig.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p> {{ form.glueType.label }} </p>
        <div class=radioButtons>
          {% for subfield in form.glueType %}
            <div>
              {{subfield}} {{subfield.label}}
            </div>
          {% endfor %}
        </div>
        <p>
          {{ form.pbSN.label }}<br>
          {{ form.pbSN(size=32) }}<br>
          {% for error in form.pbSN.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.pbAlignmentJig.label }}<br>
          {{ form.pbAlignmentJig(size=32) }}<br>
          {% for error in form.pbAlignmentJig.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.pbPickupTool.label }}<br>
          {{ form.pbPickupTool(size=32) }}<br>
          {% for error in form.pbPickupTool.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.pbGlueDate.label }}<br>
          {{ form.pbGlueDate(size=32) }}<br>
          {% for error in form.pbGlueDate.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.pbGlueSample.label }}<br>
          {{ form.pbGlueSample(size=32) }}<br>
          {% for error in form.pbGlueSample.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.hybridxSN.label }}<br>
          {{ form.hybridxSN(size=32) }}<br>
          {% for error in form.hybridxSN.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.hybridxAlignmentJig.label }}<br>
          {{ form.hybridxAlignmentJig(size=32) }}<br>
          {% for error in form.hybridxAlignmentJig.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.hybridxPickupTool.label }}<br>
          {{ form.hybridxPickupTool(size=32) }}<br>
          {% for error in form.hybridxPickupTool.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.hybridxGlueDate.label }}<br>
          {{ form.hybridxGlueDate(size=32) }}<br>
          {% for error in form.hybridxGlueDate.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.hybridxGlueSample.label }}<br>
          {{ form.hybridxGlueSample(size=32) }}<br>
          {% for error in form.hybridxGlueSample.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.hybridySN.label }}<br>
          {{ form.hybridySN(size=32) }}<br>
          {% for error in form.hybridySN.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.hybridyAlignmentJig.label }}<br>
          {{ form.hybridyAlignmentJig(size=32) }}<br>
          {% for error in form.hybridyAlignmentJig.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.hybridyPickupTool.label }}<br>
          {{ form.hybridyPickupTool(size=32) }}<br>
          {% for error in form.hybridyPickupTool.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.hybridyGlueDate.label }}<br>
          {{ form.hybridyGlueDate(size=32) }}<br>
          {% for error in form.hybridyGlueDate.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.hybridyGlueSample.label }}<br>
          {{ form.hybridyGlueSample(size=32) }}<br>
          {% for error in form.hybridyGlueSample.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <div class='button'>
          <p>{{ form.assemble() }}</p>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
