{% extends "base.html" %}

{% block headerBarContent %}
  <p><a href="{{ url_for('moduleTests') }}">Module tests</a></p>
{% endblock %}

{% block content %}
  <div class='testPage'>
    <div class='tests'>
      <h1> Module Electrical Tests </h1>
      <p> Upload Strobe Delay, RC, Noise, and Pedestal Trim .json files here. Can upload many files.</p>
      <p> </p>
      <p> {{ form.thermalCycled.label }} </p>
      <div class=radioButtons>
        {% for subfield in form.thermalCycled %}
          <div>
            {{subfield}} {{subfield.label}}
          </div>
        {% endfor %}
      </div>
      <div>
        <p> Files: </p>
        {{dropzone.load_css()}}
        {{dropzone.style('width: 480px; height: 200px; margin: 15px auto; border: dashed 3px deepskyblue; border-radius: 10px; font-family: Arial; text-align: center; font    -size: 1.1em;color: #fff;background-color: #000;')}}
        {{dropzone.create(action=url_for('moduleElectricalTests'))}}
        {{dropzone.load_js()}}
        {{dropzone.config()}}
      </div>
      <div class='button'>
        <form action="" method="post" novalidate>
          {{ form.hidden_tag() }}
          <p>{{ form.upload() }}</p>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
