{% extends "base.html" %}

{% block headerBarContent %}
  <p><a href="{{ url_for('staveTests') }}">Stave tests</a></p>
{% endblock %}

{% block content %}
  <div class='testPage'>
    <div class='infoSide'>
      <h1> Module Placement Accuracy </h1>
      <form id='info-form' action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
          {{ form.identifier.label }}<br>
          {{ form.identifier(size=32) }}<br>
          {% for error in form.identifier.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
      </form>
      <p> Please enter all 14 module files for Side J. File names need to have format Module_0.txt, Module_1.txt, ... Module_13.txt. </p>
      {{dropzone.load_css()}}
      {{dropzone.style('width: 480px; height: 200px; margin: 15px auto; border: dashed 3px deepskyblue; border-radius: 10px; font-family: Arial; text-align: center; font    -size: 1.1em;color: #fff;background-color: #000;')}}
      {{dropzone.create(action=url_for('modulePlacementAccuracy_Side_J'))}}
      {{dropzone.load_js()}}
      {{dropzone.config()}}
      <div class='button'>
        <p>{{ form.goToSideL(form='info-form') }}</p>
      </div>
    </div>
  </div>
{% endblock %}