{% extends "base.html" %}

{% block headerBarContent %}
  <p><a href="{{ url_for('moduleTests') }}">Module tests</a></p>
{% endblock %}

{% block content %}
  <div class='testPage'>
    <div class='tests'>
      <h1> Module Visual Inspection </h1>
      <form id='info-form' action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
          {{ form.identifier.label }}<br>
          {{ form.identifier(size=32) }}<br>
          {% for error in form.identifier.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p> {{ form.stage.label }} </p>
        <div class=radioButtons>
          {% for subfield in form.stage %}
            <div>
              {{subfield}} {{subfield.label}}
            </div>
          {% endfor %}
        </div>
        <p> {{ form.result.label }} </p>
        <div class=radioButtons>
          {% for subfield in form.result %}
            <div>
              {{subfield}} {{subfield.label}}
            </div>
          {% endfor %}
        </div>
        <div class='button'>
          <p>{{ form.upload() }}</p>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
