{% extends "base.html" %}

{% block headerBarContent %}
  <p><a href="{{ url_for('staveTests') }}">Stave tests</a></p>
  <p><a href="{{ url_for('modulePlacementAccuracy') }}">Module Placement Accuracy</a></p>
{% endblock %}

{% block content %}
  <div class='testPage'>
    <div class='tests'>
      <h1> SUCCESSFUL EXECUTION </h1>
      <p> General information </p>
      <div class='informationLong'>
        <p> <b><u>Identifier:</u></b> {{result['identifier']}} </p>
        <p> <b><u>Serial Number:</u></b> {{result['serialNumber']}} </p>
        <p> <b><u>Component Code:</u></b> {{result['compCode']}} </p>
        <p> <b><u>Input files:</u></b> {{result['inputFiles']}} </p>
        <p> <b><u>Uploaded files:</u></b> {{result['uploadedFiles']}} </p> 
        <p> <b><u>ITk database links:</u></b> </p> 
        {% for link in result['testRunLink'] %}
          <p><a href="{{ link }}" target="_blank" style="color: #1E90FF;">{{ link }}</a></p>
        {% endfor %}
      </div>
    </div>
  </div>  
  <script>
    window.location.replace("{{ url_for('modulePlacementAccuracyEndpoint2', excelFile=excelFile) }}");
  </script>
{% endblock %}
