{% extends "base.html" %}

{% block headerBarContent %}
  <p><a href="{{ url_for('registration') }}">Registration</a></p>
{% endblock %}

{% block content %}
  <div class='testPage'>
    <div class='tests'>
      <h1> Module Registration </h1>
      <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
          {{ form.localName.label }}<br>
          {{ form.localName(size=32) }}<br>
          {% for error in form.localName.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.sensorSN.label }}<br>
          {{ form.sensorSN(size=32) }}<br>
          {% for error in form.sensorSN.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.hvtabJig.label }}<br>
          {{ form.hvtabJig(size=32) }}<br>
          {% for error in form.hvtabJig.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <div class='button'>
          <p>{{ form.register() }}</p>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
