{% extends "base.html" %}

{% block headerBarContent %}
  <p><a href="{{ url_for('testComponent') }}">Component tests</a></p>
{% endblock %}

{% block content %}
  <div class='testPage'>
    <div class='tests'>
      <h1> Powerboard Tests </h1>
      <div class='list'>
        <div class='button'>
          <form action="" method="post" novalidate>
            {{ powerboardElectricalTestsButton.hidden_tag() }}
            <p>{{ powerboardElectricalTestsButton.submitPowerboardElectricalTestsButton() }}</p>
          </form>
        </div>
        <div class='button'>
          <form action="" method="post" novalidate>
            {{ powerboardVisualInspectionButton.hidden_tag() }}
            <p>{{ powerboardVisualInspectionButton.submitPowerboardVisualInspectionButton() }}</p>
          </form>
        </div>
        <div class='button'>
          <form action="" method="post" novalidate>
            {{ powerboardCarrierVisualInspectionButton.hidden_tag() }}
            <p>{{ powerboardCarrierVisualInspectionButton.submitPowerboardCarrierVisualInspectionButton() }}</p>
          </form>
        </div>
        <div class='button'>
          <form action="" method="post" novalidate>
            {{ powerboardDropboxButton.hidden_tag() }}
            <p>{{ powerboardDropboxButton.submitPowerboardDropboxButton() }}</p>
          </form>
        </div>
        <div class='button'>
          <form action="" method="post" novalidate>
            {{ PowerboardCarrierPullTestButton.hidden_tag() }}
            <p>{{ PowerboardCarrierPullTestButton.submitPowerboardCarrierPullTestButton() }}</p>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
