{% extends "base.html" %}

{% block headerBarContent %}
  <p><a href="{{ url_for('powerboardTests') }}">Powerboard tests</a></p>
{% endblock %}

{% block content %}
  <div class='testPage'>
    <div class='tests'>
      <h1> Powerboard Carrier Visual Inspection </h1>
      <form id='info-form' action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
          {{ form.identifier.label }}<br>
          {{ form.identifier(size=32) }}<br>
          {% for error in form.identifier.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
		<div class='button'>
          <p>{{ form.load() }}</p>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
