{% extends "base.html" %}

{% block headerBarContent %}
  <p><a href="{{ url_for('powerboardTests') }}">Powerboard tests</a></p>
  <p><a href="{{ url_for('powerboardCarrierVisualInspection') }}">Powerboard Carrier Visual Inspection</a></p>
{% endblock %}

{% block content %}
  <div class='testPage'>
    <div class='tests'>
      <h1> Powerboard Visual Inspection </h1>
      <div class='information'>
        <p> General information </p>
			{% for result in results %}
				<p> Powerboard identifiers: {{result['identifier']}} </p>
				{% if result['errors'] == [] %}
					<p> SUCCESSFUL EXECUTION </p>
				{% else %}
					<p> ERROR! See logs below... </p>
					<div class='information'>
					{% for error in result['errors'] %}
						<p> {{error}} </p>
					{% endfor %}
					</div>
				{% endif %}
            {% endfor %}
      </div>
    </div>
  </div>  
{% endblock %}
