{% extends "base.html" %}

{% block headerBarContent %}
  <p><a href="{{ url_for('powerboardTests') }}">Powerboard tests</a></p>
{% endblock %}

{% block content %}
  <div class='testPage'>
    <div class='tests'>
      <h1> Powerboard Carrier Visual Inspection </h1>
      <form id='info-form' action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        {{ form.startList1() }}
        {{ form.finishList1() }}
        {{ form.startList2() }}
        {{ form.finishList2() }}
        <p> Powerboards </p>
        <div>
		  <div> {{ form.powerboard_0(size=32) }} {{ form.status_0(checked=True) }} </div>
		  <div> {{ form.powerboard_1(size=32) }} {{ form.status_1(checked=True) }} </div>
		  <div> {{ form.powerboard_2(size=32) }} {{ form.status_2(checked=True) }} </div>
		  <div> {{ form.powerboard_3(size=32) }} {{ form.status_3(checked=True) }} </div>
		  <div> {{ form.powerboard_4(size=32) }} {{ form.status_4(checked=True) }} </div>
		  <div> {{ form.powerboard_5(size=32) }} {{ form.status_5(checked=True) }} </div>
		  <div> {{ form.powerboard_6(size=32) }} {{ form.status_6(checked=True) }} </div>
		  <div> {{ form.powerboard_7(size=32) }} {{ form.status_7(checked=True) }} </div>
		  <div> {{ form.powerboard_8(size=32) }} {{ form.status_8(checked=True) }} </div>
		  <div> {{ form.powerboard_9(size=32) }} {{ form.status_9(checked=True) }} </div>
        </div>
        <div class='button'>
          <p>{{ form.submitUpload() }}</p>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
