{% extends "base.html" %}

{% block content %}
  <div class='testPage'>
    <div class='tests'>
      <h1> Component Registration </h1>
      <div class='list'>
        <div class='button'>
          <form action="" method="post" novalidate>
            {{ hvtabSheetRegistrationButton.hidden_tag() }}
            <p>{{ hvtabSheetRegistrationButton.submitHVtabSheetRegistrationButton() }}</p>
          </form>
        </div>
        <div class='button'>
          <form action="" method="post" novalidate>
            {{ hybridRegistrationButton.hidden_tag() }}
            <p>{{ hybridRegistrationButton.submitHybridRegistrationButton() }}</p>
          </form>
        </div>
        <div class='button'>
          <form action="" method="post" novalidate>
            {{ hybridTestPanelRegistrationButton.hidden_tag() }}
            <p>{{ hybridTestPanelRegistrationButton.submitHybridTestPanelRegistrationButton() }}</p>
          </form>
        </div>
        <div class='button'>
          <form action="" method="post" novalidate>
            {{ moduleRegistrationButton.hidden_tag() }}
            <p>{{ moduleRegistrationButton.submitModuleRegistrationButton() }}</p>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
