{% extends "base.html" %}

{% block content %}
  <div class='testPage'>
    <div class='tests'>
      <h1> Comparison Plots </h1>
      <div class='list'>
        <div class='button'>
          <form action="" method="post" novalidate>
            {{ responseCurveButton.hidden_tag() }}
            <p>{{ responseCurveButton.submitResponseCurveButton() }}</p>
          </form>
        </div>
        <div class='button'>
          <form action="" method="post" novalidate>
              {{ ivCurveButton.hidden_tag() }}
            <p>{{ ivCurveButton.submitIVCurveButton() }}</p>
          </form>
        </div>
          <div class='button'>
            <form action="" method="post" novalidate>
              {{ glueWeightRetrievalButton.hidden_tag() }}
              <p>{{ glueWeightRetrievalButton.submitGlueWeightRetrievalButton() }}</p>
            </form>
          </div>
      </div>
    </div>
  </div>
{% endblock %}
