{% extends "base.html" %}

{% block headerBarContent %}
  <p><a href="{{ url_for('testComponent') }}">Component tests</a></p>
{% endblock %}

{% block content %}
  <div class='testPage'>
    <div class='tests'>
      <h1> Sensor Tests </h1>
      <div class='list'>
        <div class='button'>
          <form action="" method="post" novalidate>
            {{ sensorIVButton.hidden_tag() }}
            <p>{{ sensorIVButton.submitSensorIVButton() }}</p>
          </form>
        </div>
        <div class='button'>
          <form action="" method="post" novalidate>
            {{ sensorVisualInspectionReceptionButton.hidden_tag() }}
            <p>{{ sensorVisualInspectionReceptionButton.submitSensorVisualInspectionReceptionButton() }}</p>
          </form>
        </div>
        <div class='button'>
          <form action="" method="post" novalidate>
            {{ sensorDropboxButton.hidden_tag() }}
            <p>{{ sensorDropboxButton.submitSensorDropboxButton() }}</p>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
