{% extends "base.html" %}

{% block headerBarContent %}
<p><a href="{{ url_for('sensorTests') }}">Sensor tests</a></p>
<p><a href="{{ url_for('sensorIV') }}">Sensor IV</a></p>
{% endblock %}

{% block content %}
<div class='testPage'> 
    <div class='tests'>
        <h1> Sensor IV </h1>

        <img src="data:image/png;base64,{{ result['fig'] }}" alt="graph">
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <h1> Do you want to upload to the database? </h1>
            <div class="radioButtons">
                {% for subfield in form.ToUpload %}
                <div>
                    {{ subfield }} {{ subfield.label }}
                </div>
                {% endfor %}
            </div>
            <h1> Did this test pass? </h1>
            <div class="radioButtons">
                {% for subfield in form.PassFail %}
                <div>
                    {{ subfield }} {{ subfield.label }}
                </div>
                {% endfor %}
            </div>
            <div class='button'>
                <p>{{ form.submitSensorIVUploadOptions() }}</p>
            </div>
            {% if form.errors %}
            <ul class="errors">
                {% for field, errors in form.errors.items() %}
                    {% for error in errors %}
                        <li>{{ field }}: {{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
            {% endif %}
        </form>
        <p> General information </p>
        <div class='information'>
            <p> Sensor identifiers: {{ result['identifier'] }} </p>
            <p> Input files: {{ result['inputFiles'] }} </p>
            <p> RMS Stability: {{ result['testSchema']['results']['RMS_STABILITY'] }} </p>
            <p> I 500V: {{ result['testSchema']['results']['I_500V'] }} </p>
            <p> VDB: {{ result['testSchema']['results']['VBD'] }} </p>
            <p> If VDB is less than 550, contact Stefania.</p>
        </div>
        {% if result['errors'] == [] %}
        <p> SUCCESSFUL EXECUTION </p>
        {% else %}
        <p> ERROR! See logs below... </p> 
         <div class='information'>
            {% for error in result['errors'] %}
            <p> {{ error }} </p>
            {% endfor %}
        </div>
        {% endif %}

    </div>
</div>
{% endblock %}
