{% extends "base.html" %}

{% block content %}
  <h1> Load component </h1>
  <form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
      {{ form.identifier.label }}<br>
      {{ form.identifier(size=32) }}<br>
      {% for error in form.identifier.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>{{ form.load() }}</p>
  </form>
{% endblock %}
