{% extends "base.html" %}

{% block headerBarContent %}
  <p><a href="{{ url_for('assemble') }}">Assemble</a></p>
{% endblock %}

{% block content %}
  <div class='testPage'>
    <div class='tests'>
      <h1> Stave Assemble </h1>
      <form id="info-form" action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
          {{ form.identifier.label }}<br>
          {{ form.identifier(size=32) }}<br>
          {% for error in form.identifier.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.assembler.label }}<br>
          {{ form.assembler(size=32) }}<br>
          {% for error in form.assembler.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.glueBatchID.label }}<br>
          {{ form.glueBatchID(size=32) }}<br>
          {% for error in form.glueBatchID.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.glueType.label }}<br>
          {{ form.glueType(size=32) }}<br>
          {% for error in form.glueType.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.calibTime.label }}<br>
          {{ form.calibTime(size=32) }}<br>
          {% for error in form.calibTime.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.glueTime.label }}<br>
          {{ form.glueTime(size=32) }}<br>
          {% for error in form.glueTime.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.mod0identifier.label }}<br>
          {{ form.mod0identifier(size=32) }}<br>
          {% for error in form.mod0identifier.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.mod1identifier.label }}<br>
          {{ form.mod1identifier(size=32) }}<br>
          {% for error in form.mod1identifier.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.mod2identifier.label }}<br>
          {{ form.mod2identifier(size=32) }}<br>
          {% for error in form.mod2identifier.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.mod3identifier.label }}<br>
          {{ form.mod3identifier(size=32) }}<br>
          {% for error in form.mod3identifier.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.mod4identifier.label }}<br>
          {{ form.mod4identifier(size=32) }}<br>
          {% for error in form.mod4identifier.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.mod5identifier.label }}<br>
          {{ form.mod5identifier(size=32) }}<br>
          {% for error in form.mod5identifier.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.mod6identifier.label }}<br>
          {{ form.mod6identifier(size=32) }}<br>
          {% for error in form.mod6identifier.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.mod7identifier.label }}<br>
          {{ form.mod7identifier(size=32) }}<br>
          {% for error in form.mod7identifier.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.mod8identifier.label }}<br>
          {{ form.mod8identifier(size=32) }}<br>
          {% for error in form.mod8identifier.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.mod9identifier.label }}<br>
          {{ form.mod9identifier(size=32) }}<br>
          {% for error in form.mod9identifier.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.mod10identifier.label }}<br>
          {{ form.mod10identifier(size=32) }}<br>
          {% for error in form.mod10identifier.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.mod11identifier.label }}<br>
          {{ form.mod11identifier(size=32) }}<br>
          {% for error in form.mod11identifier.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.mod12identifier.label }}<br>
          {{ form.mod12identifier(size=32) }}<br>
          {% for error in form.mod12identifier.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.mod13identifier.label }}<br>
          {{ form.mod13identifier(size=32) }}<br>
          {% for error in form.mod13identifier.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.mod14identifier.label }}<br>
          {{ form.mod14identifier(size=32) }}<br>
          {% for error in form.mod14identifier.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.mod15identifier.label }}<br>
          {{ form.mod15identifier(size=32) }}<br>
          {% for error in form.mod15identifier.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.mod16identifier.label }}<br>
          {{ form.mod16identifier(size=32) }}<br>
          {% for error in form.mod16identifier.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.mod17identifier.label }}<br>
          {{ form.mod17identifier(size=32) }}<br>
          {% for error in form.mod17identifier.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.mod18identifier.label }}<br>
          {{ form.mod18identifier(size=32) }}<br>
          {% for error in form.mod18identifier.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.mod19identifier.label }}<br>
          {{ form.mod19identifier(size=32) }}<br>
          {% for error in form.mod19identifier.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.mod20identifier.label }}<br>
          {{ form.mod20identifier(size=32) }}<br>
          {% for error in form.mod20identifier.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.mod21identifier.label }}<br>
          {{ form.mod21identifier(size=32) }}<br>
          {% for error in form.mod21identifier.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.mod22identifier.label }}<br>
          {{ form.mod22identifier(size=32) }}<br>
          {% for error in form.mod22identifier.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.mod23identifier.label }}<br>
          {{ form.mod23identifier(size=32) }}<br>
          {% for error in form.mod23identifier.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.mod24identifier.label }}<br>
          {{ form.mod24identifier(size=32) }}<br>
          {% for error in form.mod24identifier.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.mod25identifier.label }}<br>
          {{ form.mod25identifier(size=32) }}<br>
          {% for error in form.mod25identifier.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.mod26identifier.label }}<br>
          {{ form.mod26identifier(size=32) }}<br>
          {% for error in form.mod26identifier.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.mod27identifier.label }}<br>
          {{ form.mod27identifier(size=32) }}<br>
          {% for error in form.mod27identifier.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.coreidentifier.label }}<br>
          {{ form.coreidentifier(size=32) }}<br>
          {% for error in form.coreidentifier.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.EOSJidentifier.label }}<br>
          {{ form.EOSJidentifier(size=32) }}<br>
          {% for error in form.EOSJidentifier.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.EOSLidentifier.label }}<br>
          {{ form.EOSLidentifier(size=32) }}<br>
          {% for error in form.EOSLidentifier.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.DCDCJidentifier.label }}<br>
          {{ form.DCDCJidentifier(size=32) }}<br>
          {% for error in form.DCDCJidentifier.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.DCDCLidentifier.label }}<br>
          {{ form.DCDCLidentifier(size=32) }}<br>
          {% for error in form.DCDCLidentifier.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
      </form>
      <p>
        <p> Alternatively, upload file with modules (not yet implemented): </p>
        {{dropzone.load_css()}}
        {{dropzone.style('width: 480px; height: 200px; margin: 15px auto; border: dashed 3px deepskyblue; border-radius: 10px; font-family: Arial; text-align: center; font    -size: 1.1em;color: #fff;background-color: #000;')}}
        {{dropzone.create(action=url_for('staveAssemble'))}}
        {{dropzone.load_js()}}
        {{dropzone.config()}}
      </p>
        <div class='button'>
          <p>{{ form.assemble(form='info-form') }}</p>
        </div>
    </div>
  </div>
{% endblock %}
