{% extends "base.html" %}

{% block headerBarContent %}
  <p><a href="{{ url_for('testComponent') }}">Component tests</a></p>
{% endblock %}

{% block content %}
  <div class='testPage'>
    <div class='tests'>
      <h1> Stave Tests </h1>
      <div class='list'>
        <div class='button'>
          <form action="" method="post" novalidate>
            {{ modulePlacementAccuracyButton.hidden_tag() }}
            <p>{{ modulePlacementAccuracyButton.submitModulePlacementAccuracyButton() }}</p>
          </form>
        </div>
        <div class='button'>
          <form action="" method="post" novalidate>
            {{ confocalScanButton.hidden_tag() }}
            <p>{{ confocalScanButton.submitConfocalScanButton() }}</p>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
