{% extends "base.html" %}

{% block headerBarContent %}
  <p><a href="{{ url_for('testUploader') }}">Test Database</a></p>
{% endblock %}

{% block content %}
  <div class='testPage'>
    <div class='tests' style="text-align: left; padding-left: 60px;">
      <h1>Uploader Tests</h1>

      <p style="margin-left: 20px;">1. ASIC Pull Test</p>
      <div style="margin-left: 20px;"> 
        {% if result.PullTest_ASIC.status == 'Pass' %}
          <p>{{ result.PullTest_ASIC.message }} <span style="color: green;">&#10004;</span></p>
        {% else %}
          <p>{{ result.PullTest_ASIC.message|safe }} <span style="color: red;">&#10060;</span></p>
        {% endif %}
      </div>
<!-- 
      <p style="margin-left: 20px;">2. Cicorel Pull Test</p>
      <div style="margin-left: 20px;"> 
        {% if result.PullTest_Cicorel.status == 'Pass' %}
          <p>{{ result.PullTest_Cicorel.message }} <span style="color: green;">&#10004;</span></p>
        {% else %}
          <p>{{ result.PullTest_Cicorel.message|safe }} <span style="color: red;">&#10060;</span></p>
        {% endif %}
      </div>

      <p style="margin-left: 20px;">3. Halfmoon Pull Test</p>
      <div style="margin-left: 20px;"> 
        {% if result.PullTest_Halfmoon.status == 'Pass' %}
          <p>{{ result.PullTest_Halfmoon.message }} <span style="color: green;">&#10004;</span></p>
        {% else %}
          <p>{{ result.PullTest_Halfmoon.message|safe }} <span style="color: red;">&#10060;</span></p>
        {% endif %}
      </div> -->

      <p style="margin-left: 20px;">4. Hybrid Flex Array Pull Test</p>
      <div style="margin-left: 20px;"> 
        {% if result.PullTest_HybridFlexArray.status == 'Pass' %}
          <p>{{ result.PullTest_HybridFlexArray.message }} <span style="color: green;">&#10004;</span></p>
        {% else %}
          <p>{{ result.PullTest_HybridFlexArray.message|safe }} <span style="color: red;">&#10060;</span></p>
        {% endif %}
      </div>
<!-- 
      <p style="margin-left: 20px;">5. Powerboard Pull Test</p>
      <div style="margin-left: 20px;"> 
        {% if result.PullTest_Powerboard.status == 'Pass' %}
          <p>{{ result.PullTest_Powerboard.message }} <span style="color: green;">&#10004;</span></p>
        {% else %}
          <p>{{ result.PullTest_Powerboard.message|safe }} <span style="color: red;">&#10060;</span></p>
        {% endif %}
      </div> -->

      <!-- <p style="margin-left: 20px;">6. HV Tab Shear Test</p>
      <div style="margin-left: 20px;"> 
        {% if result.HVtabShearTest.status == 'Pass' %}
          <p>{{ result.HVtabShearTest.message }} <span style="color: green;">&#10004;</span></p>
        {% else %}
          <p>{{ result.HVtabShearTest.message|safe }} <span style="color: red;">&#10060;</span></p>
        {% endif %}
      </div> -->

      <p style="margin-left: 20px;">4. Hybrid Flex Array Pull Test</p>
      <div style="margin-left: 20px;"> 
        {% if result.PullTest_HybridFlexArray.status == 'Pass' %}
          <p>{{ result.PullTest_HybridFlexArray.message }} <span style="color: green;">&#10004;</span></p>
        {% else %}
          <p>{{ result.PullTest_HybridFlexArray.message|safe }} <span style="color: red;">&#10060;</span></p>
        {% endif %}
      </div>
      
    </div>
  </div>  
{% endblock %}
