{% extends "base.html" %}

{% block content %}
  <div class='testPage'>
    <div class='tests'>
      <h1> Test uploader</h1>
      <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <div class='button'>
          <p>{{ form.testSubmit() }}</p>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
