{% extends "base.html" %}

{% block content %}
  <div class='testPage'>
    <div class='tests'>
      <h1> Component Tests </h1>
      <div class='list'>
        <div class='button'>
          <form action="" method="post" novalidate>
            {{ asicsTestButton.hidden_tag() }}
            <p>{{ asicsTestButton.submitASICsTestButton() }}</p>
          </form>
        </div>
        <div class='button'>
          <form action="" method="post" novalidate>
            {{ cicorelTestButton.hidden_tag() }}
            <p>{{ cicorelTestButton.submitCicorelTestButton() }}</p>
          </form>
        </div>
        <div class='button'>
          <form action="" method="post" novalidate>
            {{ halfmoonTestButton.hidden_tag() }}
            <p>{{ halfmoonTestButton.submitHalfmoonTestButton() }}</p>
          </form>
        </div>
        <div class='button'>
          <form action="" method="post" novalidate>
            {{ hvtabTestButton.hidden_tag() }}
            <p>{{ hvtabTestButton.submitHVtabTestButton() }}</p>
          </form>
        </div>
        <div class='button'>
          <form action="" method="post" novalidate>
            {{ sensorTestButton.hidden_tag() }}
            <p>{{ sensorTestButton.submitSensorTestButton() }}</p>
          </form>
        </div>
        <div class='button'>
          <form action="" method="post" novalidate>
            {{ powerboardTestButton.hidden_tag() }}
            <p>{{ powerboardTestButton.submitPowerboardTestButton() }}</p>
          </form>
        </div>
        <div class='button'>
          <form action="" method="post" novalidate>
            {{ hybridFlexArrayTestButton.hidden_tag() }}
            <p>{{ hybridFlexArrayTestButton.submitHybridFlexArrayTestButton() }}</p>
          </form>
        </div>
        <div class='button'>
          <form action="" method="post" novalidate>
            {{ hybridTestButton.hidden_tag() }}
            <p>{{ hybridTestButton.submitHybridTestButton() }}</p>
          </form>
        </div>
        <div class='button'>
          <form action="" method="post" novalidate>
            {{ moduleTestButton.hidden_tag() }}
            <p>{{ moduleTestButton.submitModuleTestButton() }}</p>
          </form>
        </div>
        <div class='button'>
          <form action="" method="post" novalidate>
            {{ staveTestButton.hidden_tag() }}
            <p>{{ staveTestButton.submitStaveTestButton() }}</p>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
